@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container" id="container-title-flex">
        <div class="container-title">
            <h1>Sistema de Facturación</h1>
            <h2>Ofreciendo una mejor gestión del proceso de finanzas en su negocio</h2>
            <a type="button"class="btn btn-primary" href="~/Articulos/Index">Visualiza los artículos</a>
        </div>
       
    </div>
</body>
</html>